<!-- TOOLBOX START-->
<mat-dialog-div>
  <div class="row">
    <div class="col-sm-6">
      <div class="popup-title">Malzeme Seç</div>
    </div>
  </div>
  <hr />
  <div class="item-container">
    <!--SELECT ITEM TYPE: START-->

    <!-- SELECT ITEM TYPE :END-->
  </div>
  <div class="search-area">
    <input placeholder="Ara" [(ngModel)]="values" (keydown)=" onKeydown($event)" />
  </div>
  <div class="material-header">
    <div class="material-info">
      <div class="material-data">
        <div class="col-9 material-title">
          Malzeme Adı
        </div>
        <div class="col-3 material-title">
          Miktarı
        </div>
      </div>
      <div class="select-material">
      </div>
    </div>

  </div>
  <div class="materials">
    <perfect-scrollbar>
      <div class="material" *ngFor="let item of items; index as i">
        <div class="material-info">
          <div class="material-data">
            <div class="col-9 material-name">
              <div>
                {{item.name}}
              </div>
            </div>
            <div class="col-3">
              <input class=" amount-input" type="number" id="{{item.id+'amount'}}" [(ngModel)]="amount[item.id]">
            </div>
          </div>
          <div class="select-material">
            <button class="insert-btn">
              <i class='fas fa-plus' (click)="onCheckboxChange(item.id)"></i>
            </button>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</mat-dialog-div>
<div class="footer">
  <div class="pagination">
    <div class="prev" (click)="clickPagination('prev')">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="page-number">{{pageNumber}}</div>
    <div class="next" (click)="clickPagination('next')">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
  <div class="btn-container">
    <button class="btn cancel" (click)="clickClosePopup('close')">
      İptal
    </button>
    <button class="btn save" (click)="clickClosePopup('save')">
      Kaydet
    </button>
  </div>
</div>