@import "scss/ui/_variable.scss";
@import "scss/ui/_mixins";
@import "~bootstrap/scss/bootstrap";


.default-theme{
  width: 300px;

}
.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  .main-page {
    display: flex;
    justify-content: center;
    position: relative;
    width: calc(100% - 200px);
    height: 100vh;
    min-height: 100%;
    float: right;
    transition: all .3s;
  }

  .main-page-toggle{
    position: absolute;
    width: 100%;
      left: 0;
  }
  .toggled{
    app-sidebar{
      display: none;
    }
  }
}
